# Environment
NODE_ENV=development

# API Configuration
API_PORT=3000
FRONTEND_URL=http://localhost:3001

# Database
DATABASE_URL=postgresql://bnpl_user:bnpl_password@localhost:5432/bnpl_hackathon

# Stellar Configuration
STELLAR_NETWORK=TESTNET
STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
STELLAR_EXPLORER_URL=https://stellar.expert/explorer/testnet

# Demo Accounts (Testnet only - will be created during setup)
STELLAR_MASTER_PUBLIC=GDQ6Y3MIPOYVZWRAFITGG43KAJLUJ55ZYSUCZMTRST2AXXHGNYIKLTVX
STELLAR_MASTER_SECRET=
STELLAR_MERCHANT_PUBLIC=GD56ZNTTYAOKCBPRAGYI4OIEB44UTVVTOIW6TLVRMXIF7DP66E6WXUUV
STELLAR_MERCHANT_SECRET=
STELLAR_CUSTOMER_PUBLIC=GBEZLV6PNNASOMQX6DUU67RH4VGJIM224PVPU36JNBATM773DXMVCYGV
STELLAR_CUSTOMER_SECRET=

# Etherfuse — On-ramp / Off-ramp (Sandbox)
ETHERFUSE_API_KEY=
ETHERFUSE_BASE_URL=https://api.sand.etherfuse.com

# Soroban Smart Contract (Testnet)
SOROBAN_CONTRACT_ID=CBY3H6BBUJ64H3QGSDMEQVZU3GKXV4WRE7V7X62PUFXNWYAHI4CCWTXH
SOROBAN_ADMIN_SECRET=
SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
SOROBAN_NETWORK_PASSPHRASE=Test SDF Network ; September 2015